/* body {
    background-image: url("resources/img/books.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
} */

body {
    background-image: url("resources/img/blue\ strip.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

#search-nav{
    position: relative;
    top: 25px;
    width: 60%;
    float: right;
}

#search-area {
    display: inline;
    float: right;
}

.nav-link{
    display: inline;
    font-size: large;
    color: white;
    padding-right: 20px;
}

#searchbar {
    display: inline;
    float: left;
}

#search_button{
    display: inline;
    float: left;

}


.link-group {
    font-size: x-large;
    color: white;
    display: inline;
    float: left;
    padding-right: 10px;
}



#mid-text {
    font-size: 90px;
    color: rgb(14, 42, 81);
    position: absolute;
    top: 25%; left: 25%;
    width: 50%;
}

#big_searchbar {
    position: absolute;
    top: 50%; left: 25%;
    width: 47.5%; height: 10%;
    font-size: medium;
}


#tablebox {
    position: absolute;
    top: 75%; left: 25%;
}



